header {
	background: url('../images/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 550px;
    text-align: center;
}

.navigate {
	display: inline;
}

.navlist {
	float: right;
}

.navlist > li {
	display: inline;
	margin-right: 20px;
}

.title,
.title1,
.title2 {
	margin: 0 auto;
}